{{define "content"}}
<div class="window">
  <div class="term-header">. . .</div>
    <div class="terminal">
      <div id="results"></div>
    </div>
<button id="btn" onclick="log()">Launch</button>
</div>
{{end}}
