{{define "content"}}
<div class="cmdpanel">
  <h2>Ultra96v2 Command </h2>
  <a href="/passthrough" class="btn-push green">Passthrough</a>
  <a href="/facetrack" class="btn-push green">Face Tracking</a>
  <a href="/stop" class="btn-push red">Stop</a>
</div>
{{end}}
